@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: black;
}

.main{
  height: 60vh;
  width: 40vw;
  margin-left: 30vw;
  margin-top: 20vh;
  background: white;
}

h1{
  font-size: 7vmin;
  text-align: center;
}

hr{
  width: 37vw;
  margin-left: 1.5vw;
  margin-top: 2vh;
}

input{
  width: 37vw;
  height: 7vh;
  margin-left: 1.5vw;
  margin-top: 2vh;
  border: 1px solid lightgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 3vmin;
  padding-left: 1vw;
}

button{
  margin-left: 1.5vw;
  padding: 10px;
  font-size: 2vmin;
  background: black;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 2vh;
}

table {
  background: #bdc3c7;
  width: 37vw;
  margin-left: 1.5vw;
  margin-top: 2vh;
  border: 1px solid gray;
  border-collapse: collapse;
}

td {
  padding: 0px 10px;
  border-bottom: 1px solid gray;
}

td:last-child {
  text-align: center;
}

.delete {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 2vmin;
  border-radius: 5px;
  margin-left: 22vw;
  margin-bottom: 10px;
  font-family: "Philosopher", sans-serif;
  
}

.edit {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 2vmin;
  border-radius: 5px;
  margin-left: 10px;
  font-family: "Philosopher", sans-serif;
}
